<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buyer Form</title>
</head>
<body>
  <H3>SUPPLIER</H3>
  <form class="container"
        #buyerForm = "ngForm"
        (ngSubmit) = onSubmit(buyerForm)>
    <label>Tenant</label>
    <input type="text" name="tenant" ngModel>
    <br>
    <label>Sub-tenant</label>
    <input type="text" name="sub_tenant" ngModel>
    <br>
    <label>NAME</label>
    <input type="text" name="name" ngModel>
    <br>
    <label>PLACE</label>
    <input type="text" name="place" ngModel>
    <br>
    <label>ADDRESS</label>
    <input type="text" name="address" ngModel>
    <br>
    <label>MOB NO</label>
    <input type="text" name="mobile_no" ngModel>
    <br>
    <label>LANDLINE</label>
    <input type="text" name="office_no" ngModel>
    <br>
    <label>EMAIL</label>
    <input type="text" name="email" ngModel>
    <br>
    <label>GST No.</label>
    <input type="text" name="gst_no" ngModel>
    <br>
    <label>PAN</label>
    <input type="text" name="pan_no" ngModel>
    <br>
    <label>CREDIT LIMIT</label>
    <input type="text" name="credit_limit" ngModel>
    <br><br><br>
    <input type="submit" name="Submit">
  </form>

<a routerLink="supplierchild">Add Supplier Child</a>

</body>
</html>
