<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indent Form</title>
</head>
<body>
<H3>INDENT</H3>
  <!--<form class="container" id="indent_form"-->
        <!--#indentForm = "ngForm"-->
        <!--(ngSubmit) = onSubmit(indentForm.value)>-->
    <!--&lt;!&ndash;<label>Tenant</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" name="tenant" ngModel>&ndash;&gt;-->
    <!--&lt;!&ndash;<br>&ndash;&gt;-->
    <!--&lt;!&ndash;<label>Sub-tenant</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" name="sub_tenant" ngModel>&ndash;&gt;-->
    <!--&lt;!&ndash;<br>&ndash;&gt;-->
    <!--<label>Indent Number</label>-->
    <!--<input type="text" name="indent_no" ngModel>-->
    <!--<br>-->
    <!--<label>Buyer</label>-->
    <!--<select  name="buyer" [(ngModel)]="buyer">-->
      <!--<option *ngFor="let buyer of buyer_list" [ngValue]="buyer">{{ buyer.name}}</option>-->
    <!--</select>-->
    <!--<br>-->
    <!--<label>Buyer Child</label>-->
    <!--<input type="text" name="buyer_child" ngModel>-->
    <!--<br>-->
    <!--<label>Supplier</label>-->
    <!--<select  name="supplier" [(ngModel)]="supplier">-->
      <!--<option *ngFor="let supplier of supplier_list" [ngValue]="supplier">{{ supplier.name}}</option>-->
    <!--</select>-->
    <!--<br>-->
    <!--<label>Supplier Child</label>-->
    <!--<input type="text" name="supplier_child" ngModel>-->
    <!--<br>-->
    <!--<label>Bank</label>-->
    <!--<input type="text" name="bank_name" ngModel>-->
    <!--<br>-->
    <!--<label>Cash Discount</label>-->
    <!--<input type="text" name="cash_discount" ngModel>-->
    <!--<br>-->
    <!--<label>Scheme</label>-->
    <!--<input type="text" name="scheme" ngModel>-->
    <!--<br>-->
    <!--<label>Payment Day</label>-->
    <!--<input type="text" name="payment_day" ngModel>-->
    <!--<br>-->
    <!--<label>Credit Day</label>-->
    <!--<input type="text" name="credit_day" ngModel>-->
    <!--<br>-->
    <!--<label>Interest Rate</label>-->
    <!--<input type="text" name="interest_rate" ngModel>-->
    <!--<br>-->
    <!--<label>Salesman</label>-->
    <!--<input type="text" name="salesman" ngModel>-->
    <!--<br>-->
    <!--<label>Transport</label>-->
    <!--<input type="text" name="transport" ngModel>-->
    <!--<br>-->
    <!--<label>Indent From</label>-->
    <!--<input type="text" name="indent_from" ngModel>-->
    <!--<br>-->
    <!--<label>Indent To</label>-->
    <!--<input type="text" name="indent_to" ngModel>-->
    <!--<br>-->
    <!--<label>Export To</label>-->
    <!--<input type="text" name="export_to" ngModel>-->
    <!--<br>-->
    <!--<label>Indent made by</label>-->
    <!--<input type="text" name="prepared_by" ngModel>-->
    <!--<br>-->
    <!--<label>Remarks</label>-->
    <!--<input type="text" name="remarks" ngModel>-->
    <!--<br>-->
    <!--<br><br><br>-->
  <!--</form>-->

<!--<form class="form-inline" id="order_form"-->
        <!--#indentOrderForm = "ngForm"-->
        <!--(ngSubmit) = onSubmit(indentOrderForm.value,indentForm.value)>-->
    <!--&lt;!&ndash;<label>Tenant</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" name="tenant">&ndash;&gt;-->
    <!--&lt;!&ndash;<br>&ndash;&gt;-->
    <!--<label>Sub-tenant</label>-->
    <!--<input type="text" name="sub_tenant" ngModel>-->
    <!--<br>-->
    <!--<label>Bales</label>-->
    <!--<input type="text" name="bales" ngModel>-->
    <!--<br>-->
    <!--<label>Remarks</label>-->
    <!--<input type="text" name="remarks" ngModel>-->
    <!--<br>-->
    <!--<input type="submit" name="Submit">-->

<form [formGroup]="invoiceForm">
  <div formArrayName="itemRows">
    <!-- Check the correct way to iterate your form array -->
    <div *ngFor="let itemrow of invoiceForm.controls.itemRows.controls; let i=index"  [formGroupName]="i">
      <h4>Indent Row #{{ i + 1 }}</h4>
      <div class="form-group">
        <input type="text" name="indent_no">
        <br>
    <label>Buyer</label>
    <select  name="buyer">
      <option *ngFor="let buyer of buyer_list" [ngValue]="buyer">{{ buyer.name}}</option>
    </select>
    <br>
    <label>Buyer Child</label>
    <input type="text" name="buyer_child">
    <br>
    <label>Supplier</label>
    <select  name="supplier">
      <option *ngFor="let supplier of supplier_list" [ngValue]="supplier">{{ supplier.name}}</option>
    </select>
    <br>
    <label>Supplier Child</label>
    <input type="text" name="supplier_child">
    <br>
    <label>Bank</label>
    <input type="text" name="bank_name">
    <br>
    <label>Cash Discount</label>
    <input type="text" name="cash_discount">
    <br>
    <label>Scheme</label>
    <input type="text" name="scheme">
    <br>
    <label>Payment Day</label>
    <input type="text" name="payment_day">
    <br>
    <label>Credit Day</label>
    <input type="text" name="credit_day">
    <br>
    <label>Interest Rate</label>
    <input type="text" name="interest_rate">
    <br>
    <label>Salesman</label>
    <input type="text" name="salesman">
    <br>
    <label>Transport</label>
    <input type="text" name="transport">
    <br>
    <label>Indent From</label>
    <input type="text" name="indent_from">
    <br>
    <label>Indent To</label>
    <input type="text" name="indent_to">
    <br>
    <label>Export To</label>
    <input type="text" name="export_to">
    <br>
    <label>Indent made by</label>
    <input type="text" name="prepared_by">
    <br>
    <label>Remarks</label>
    <input type="text" name="remarks">
    <br>
    <br><br><br>
      </div>
      <button *ngIf="invoiceForm.controls.itemRows.controls.length > 1" (click)="deleteRow(i)" class="btn btn-danger">Delete Button</button>
    </div>
  </div>
  <button type="button" (click)="addNewRow()" class="btn btn-primary">Add new Row</button>
</form>


<!--</form>-->
<button (click)="get_data()">GET API</button>
</body>
</html>
