<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buyer Form</title>
</head>
<body>
<H3>SUPPLIER INVENTORY</H3>
  <form class="container"
        #supplierinventoryForm = "ngForm"
        (ngSubmit) = onSubmit(supplierinventoryForm)>
    <label>Tenant</label>
    <input type="text" name="tenant" ngModel>
    <br>
    <label>Sub-tenant</label>
    <input type="text" name="sub_tenant" ngModel>
    <br>
    <label>Supplier</label>
    <input type="text" name="supplier" ngModel>
    <br>
    <label>Supplier Child</label>
    <input type="text" name="supplier_child" ngModel>
    <br>
    <label>Quality</label>
    <input type="text" name="quality" ngModel>
    <br>
    <label>Item Name</label>
    <input type="text" name="item_name" ngModel>
    <br>
    <label>Sort No.</label>
    <input type="text" name="sort_no" ngModel>
    <br>
    <label>Packing</label>
    <input type="text" name="packing" ngModel>
    <br>
    <label>Size</label>
    <input type="text" name="size" ngModel>
    <br>
    <label>Rate</label>
    <input type="text" name="rate" ngModel>
    <br>
    <label>Cuts</label>
    <input type="text" name="cuts" ngModel>
    <br>
    <label>Description</label>
    <input type="text" name="description" ngModel>
    <br><br><br>
    <br><br><br>
    <input type="submit" name="Submit">
  </form>
<!--<button (click)="get_data()">GET API</button>-->
</body>
</html>
