<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Inputs</title>
</head>
<body>
<button onclick="show_content=true;">USER</button>
  <div>
    <P>
      <a routerLink="/users/buyer">Set Buyer</a>
    </P>
    <P>
      <a routerLink="/users/supplier">Set Supplier</a>
    </P>
    <P>
      <a routerLink="/users/supplierinventory">Set Supplier Inventory</a>
    </P>
    <P>
      <a routerLink="/users/salesman">Set Salesman</a>
    </P>
  </div>
  <!--<app-buyer></app-buyer>-->



  <router-outlet></router-outlet>
</body>
</html>
